body {
    font-family: 'Roboto Slab', 'sans-serif';
    font-size: 16px;
    background-color: #fff;
    color: #2A2B2E;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/** sankey start */
.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}

#chart svg{
    display: block;
    margin : auto;
}

/** sankey end */

header {
    padding: 50px 100px 250px 100px;
}

main {
    height: 100%;
    padding-right: 25px;
}

h1 {
    color: #2A2B2E;
    font-family: 'Roboto Slab', 'serif';
    font-size: 56px;
    margin: 0;
    font-weight: normal;
}

h2 {
    color: #2A2B2E;
    font-family: 'Roboto Slab', 'serif';
    font-weight: normal;
}

svg {
    background-color: #ffffff;
}

.title, .axis-text {
    transform-origin: center;
    transform-box: fill-box;
    text-anchor: middle;
}

.viz-container{
    height: 100%;
    padding: 0 100px;
    margin: 75px 0;
    
}

.graph .graph-bubble {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tick line{
    visibility: hidden;
  }

  .info {
      pointer-events: none;
      font-family: 'Roboto';
  }

  .axis text {
      font-family: 'Roboto';
      cursor: default;
      transform-box: fill-box;
      transform-origin: center;
  }

  .axis path {
      opacity: 0;
  }
  #tooltip-title {
    font-family: 'Grenze Gotisch';
    font-weight: normal;
    font-size: 24px;
}

.tooltip-value {
    font-weight: normal;
}

.container-header{
    width: 80%;
    padding: 0 10% 0 10%;
}

/* link : https://www.geeksforgeeks.org/how-to-create-wave-background-using-css/ */

.pattern {
    position: relative;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg,
            #3bb78f 0%, #0bab64 74%);
}

.pattern:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: url(https://media.geeksforgeeks.org/wp-content/uploads/20200326181026/wave3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

